<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Trace" internalLogFle="${basedir}/logs/internalLog.txt">
	<variable name="defaultLayout" value="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] ${level:uppercase=true} : ${message}" />
	<targets>
		<target xsi:type="Database" name="database">
			<dbProvider>
				Npgsql.NpgsqlConnection,Npgsql,Version=3.0.3.0,Culture=neutral,PublicKeyToken=5d8b90d52f46fda7
			</dbProvider>
			<connectionString>				
			</connectionString>
			<commandText>
				INSERT INTO public.log_entries (origin, message, log_level,created_on) VALUES (@Origin,@Message,@LogLevel,@Date);
			</commandText>
			<parameter name="@Date" layout="${date}" dbType="DbType.Date"/>
			<parameter name="@Origin" layout="${callsite}"/>
			<parameter name="@LogLevel" layout="${level}"/>
			<parameter name="@message" layout="${message}"/>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="database"/>
	</rules>
</nlog>